
            /* 全局 */
            #main { /* From Calendar Script */
                width: 990px;
            }
            #header small.blue { /* From Calendar Script, header统计 */
                font-size: 16px;
            }
            /* 隐藏doujin天窗联盟 (Merged from both scripts) */
            #navNeue2 #navMenuNeue li.doujin {
                display: none;
            }
            #navNeue2 #menuNeue { /* From Title/Style Script */
                width: inherit;
            }
            /* 搜索框拉长 (From Title/Style Script) */
            #headerNeue2 #headerSearch input.textfield {
                width: initial;
            }
            /* 全局输入字体调大 (From Title/Style Script) */
            input[type=text], input[type=password], textarea {
                font-size: 1.2em;
            }
        